@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$widthContainer: 1140px;

$firstMediaScreen: 1040px;
$secondMediaScreen: 769px;
$thirdMediaScreen: 507px;
$mobileM: 376px;

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: $widthContainer;
    margin: 0 auto;
}

.header {
    padding: 20px;
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    .logoContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
            width: 59px;
            height: 51px;
        }

        .bran {
            color: #222222;
            font-size: 27px;
            font-weight: 300;
            line-height: 51px;

            span {
                font-weight: 400;
                color: #f16d7f;
            }
        }
    }

    .search {
        margin-left: 100px;
        display: flex;
        align-items: center;
        height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        overflow: hidden;

        .searchBrowse {
            height: inherit;
            padding: 12px;
            font-size: 14px;
            color: #222222;
            background-color: #f9f9f9;
            box-sizing: border-box;
            border-right: 1px solid #e6e6e6;
        }

        input {
            height: inherit;
            padding: 0 3px;
            border: none;
            outline: none;
        }

        button {
            height: inherit;
            padding: 0 8px;
            border: 0;
            background: none;
            border-left: 1px solid #e6e6e6;
        }
    }

    .headerCart {
        // width: 32px;
        // height: 29px;
        display: block;
        margin-left: auto;
        margin-right: 25px;
    }

    .btnMyAccount {
        padding: 15px;
        background-color: #f16d7f;
        color: white;
        border: none;
        outline: none;
    }

    @media (max-width: $firstMediaScreen) {
        & {
            width: auto;
            margin: auto;
        }
    }

    @media (max-width: $secondMediaScreen) {
        & {
            flex-direction: column;
        }

        .headerCart,
        .search,
        .btnMyAccount {
            margin: 5px auto;
        }


    }
}

.nav {
    border-top: 1px solid #ececec;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navLink {
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        color: #222222;
    }

    .navLink:not(:last-child) {
        margin-right: 45px;
    }

    .navLink:hover {
        color: #f16d7f;
    }

    @media (max-width: $secondMediaScreen) {
        & {
            height: 100px;
            flex-wrap: wrap;
            padding: 0 10px;
        }
    }
}

//====================== FEATURED ITEMS ===========================
.featuredItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .featuredItem {
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .itemName {
            padding-left: 10px;
            font-size: 13px;
            text-transform: uppercase;
            color: #222222;
            font-weight: 700;
            max-height: 2.4em;
            overflow: hidden;
        }

        .itemPrice {
            padding: 0 0 20px 10px;
            color: #f16d7f;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .featuredImg {
            height: 280px;
            position: relative;

            .featuredBuy {
                height: inherit;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                display: none;
                position: absolute;

                button {
                    padding: 15px;
                    border: 1px solid #ffffff;
                    background: none;
                    color: white;
                    font-size: 13px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }

    .featuredItem:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }

    .featuredItem:hover .featuredBuy {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: $secondMediaScreen) {
        & {
            justify-content: space-evenly;
        }
    }
}

.unActive {
    opacity: .5;

    &:hover {
        color: #222222;
    }
}